@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

* {
  font-family: 'Viga', sans-serif;
}

body {
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1vh 4vh;
  background-color: white;
}

#header {
  text-transform: uppercase;
  font-size: 4vh;
  color: green;
}

.resources {
  text-align: center;
  background-color: rgba(160, 226, 154, 0.1);
}

.toolkit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tool-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tool-overlay {
  position: relative;
  width: 15vw;
  height: 15vw;
  border-radius: 2vh;
  border: 1vh solid whitesmoke;
  margin: 2vh 2vh;
}

.tools {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1vh;
}

.tool-name {
  width: 15vw;
  text-align: center;
  font-size: 3vh;
  margin-top: 3vh;
  background-color: white;
  color: green;
  border-radius: 2vh;
  border: 1vh solid rgba(160, 226, 154, 0.3);
}

.lock {
  position: absolute;
  width: 40%;
  height: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(219, 116, 116, 0.5);
  border-radius: 1vh;
}

.remove-lock {
  display: none;
}

.tool-footer {
  width: 80%;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(160, 226, 154, 0.5);
}

.tool-footer > h2 {
  font-size: 1vw;
}
