@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
  background-color: rgb(22, 19, 61);
  font-family: 'Orbitron', sans-serif;
}

#header {
  text-align: center;
  color: wheat;
  font-size: 3vw;
}

#logo {
  height: 50vh;
}

.display-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results-container {
  width: 30vw;
  font-size: 1vh;
  margin-left: 5vh;
  background-color: rgb(109, 186, 187);
  padding: 2vh;
  border-radius: 2vh;
}

.results-header {
  display: flex;
  justify-content: space-between;
}

#reset-button {
  display: block;
  height: 5vh;
  padding: 1vh 2vh;
  cursor: pointer;
  font-size: 2vh;
  border-radius: 1vh;
  background-color: maroon;
  color: white;
  border: 1px solid wheat;
  font-family: 'Orbitron', sans-serif;
}

.results {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.main-container {
  text-align: center;
}

.main-container > h2 {
  color: wheat;
  font-size: 2vw;
}

.choices-container > button {
  cursor: pointer;
  margin: 0 2vh;
  font-size: 2vw;
  padding: 1vh;
  border-radius: 1vh;
  background-color: white;
  color: rgb(109, 186, 187);
  border: 1px solid wheat;
  font-family: 'Orbitron', sans-serif;
}

.choices-container > button:hover {
  background-color: rgb(109, 186, 187);
  color: white;
}

#first-result-text {
  background-color: white;
  padding: 2vh;
  border-radius: 2vh;
  color: rgb(109, 186, 187);
}

#second-result-text {
  padding: 2vh;
  border-radius: 2vh;
  text-transform: uppercase;
  font-size: 3vh;
  color: white;
}

#your-move {
  background-color: rgb(22, 19, 61);
  color: white;
  padding: 1vh;
  border: 1vh solid white;
  border-radius: 2vh;
}

#computer-move {
  color: rgb(22, 19, 61);
  background-color: white;
  padding: 1vh;
  border: 1vh solid rgb(22, 19, 61);
  border-radius: 2vh;
}

.score-board {
  position: relative;
  width: 70%;
  border: 3px solid white;
  border-radius: 5vh;
  margin: 1vh auto;
}

.score {
  font-size: 5vh;
  padding: 1vh;
  text-align: center;
}

.badge {
  font-size: 2.5vh;
  padding: 1vh 2vh;
  border-radius: 1vh;
}

#user-label {
  background-color: rgb(22, 19, 61);
  color: white;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#comp-label {
  background-color: white;
  color: rgb(22, 19, 61);
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
